* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
    background: #5f9ea0;
    user-select: none;
}

/* Common */
.container {
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/*======= Header =======*/
.header {
    display: flex;
    margin-top: 10px;
    align-items: center;
    text-align: center;
}

.img-spkt {
    width: 100px;
    height: 100px;
}

.img-feee {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.heading {
    text-align: center;
    margin-left: 135px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

/*======= Main =======*/
main {
    text-align: center;
    justify-content: space-between;
}

.content {
    margin-top: 20px;
    font-size: 4rem;
    line-height: 1.86;
}

.temp_all,
.hum_all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fan_on_off {
    width: 250px;
    height: 250px;
}

.fan_on,
.fan_off {
    font-size: 2.8rem;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 150px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #2e80ce;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
    font-size: 2rem;
    background: #428cd2;
}

/* Footer */
footer {
    margin-bottom: 0;
    bottom: 0;
    margin-top: 15px;
    padding: 18px 18px;
    background: #6ca6dc;
}

.desc {
    font-size: 2rem;
    line-height: 1.86;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}
